config.make
config-noarch.make
config.cache
GNUmakefile
GNUstep.sh
GNUstep.csh
config.h
config.status
openapp
debugapp
executable.template
opentool
gnustep-make.spec
fixpath.sh
GNUstep.conf
config-install-p-test-file2
*.log
TestFramework/gnustep-tests
runtime/
autom4te.cache
gnustep-config
filesystem.make
filesystem.csh
filesystem.sh
gnustep-make-ld.so.conf
GNUstep-strict-v2.conf