Source: gnustep-make
Section: libs
Priority: optional
Maintainer: Wanted
Standards-Version: 3.2.1
Build-Depends: debhelper, gobjc

Package: gnustep-make
Architecture: any
Depends: ${shlibs:Depends}
Suggests: gnustep-base
Conflicts: gstep-make
Replaces: gstep-make
Description: Basic GNUstep scripts and makefiles
 This package contains the basic scripts, makefiles and
 directory layout needed to run and compile any GNUstep
 software.  
